body {
    font-size: 15px;
    color: black;
}

@media(min-width:767px) {
    .navbar {
        padding: 5px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        font-size: 15px;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.content-page {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.rides-list table {
    margin-top: 30px;
}
