<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="login.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="login.js"></script>
    </head>
    
    <body>
        <nav class="navbar navbar-default">
            <a class="navbar-brand" href="main.html">Hoo's Ridin'</a>
            <div class="container">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <!-- <form class="nav navbar-form navbar-left" role="search" action="/search" method="GET">
                        <input type="text" class="form-control" placeholder="Find a ride by keywords..." name="query">
                        <button type="submit" class="btn btn-default">Search</button>
                    </form> -->
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a class="page-scroll nav-tab" id="rides-list" href="main.html">See Rides</a> </li>
                        <li> <a class="page-scroll nav-tab" id="post-ride" href="create_ride.html">Post a Ride</a> </li>
                        <li> <a class="page-scroll nav-tab" id="user-profile" href="user-profile.html">Your Profile</a> </li>
                        <li> <a class="page-scroll nav-tab" id="logout" href="logout.html">Logout</a> </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div id="content">
            <div id="login-form" class="content-page">
                <h3 id="title" class="content-item"> Create Ride </h3>
                <div id="alert1thing" style="display: none">
                    <div class="alert alert-dismissible alert-danger">
                      <p id="alert1"></p>
                    </div>
                </div>
		<form id="creation_form" method="post" action="/v1/create_ride/" enctype="multipart/form-data">
		{% csrf_token %}
		{{ Response }}
        <table>
		{{ creation_form.as_table }}
        </table>
                <button type="submit" value="submit" class="btn btn-info"> Create Ride </button> <p></p>
		</form>
            </div>
        </div>
	</body>
</html>	
