<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="main.js"></script>
    </head>
    
    <body>
        <!-- navigation bar -->
        <nav class="navbar navbar-default">
            <a class="navbar-brand" href="main.html">Hoo's Ridin'</a>
            <div class="container">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <form class="nav navbar-form navbar-left" role="search">
                        <input type="text" class="form-control" placeholder="Find a ride by keywords...">
                        <button type="button" class="btn btn-default">Search</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a class="page-scroll nav-tab" id="rides-list" href="main.html">See Rides</a> </li>
                        <li> <a class="page-scroll nav-tab" id="post-ride" href="post-ride.html">Post a Ride</a> </li>
                        <li> <a class="page-scroll nav-tab" id="user-profile" href="user-profile.html">Your Profile</a> </li>
                        <li> <a class="page-scroll nav-tab" id="logout" href="logout.html">Logout</a> </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        
        <!-- content view -->
        <div class="content">
            <div class="content-page  container post-ride">
                <h5> Post a New Ride </h5> 
                <form>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="inputCity">City of Departure</label>
                            <input type="email" class="form-control" id="inputCity" placeholder="Destination City">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Departure Time</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile"># of Seats</label>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li> 1 </li>
                                <li> 2 </li>
                                <li> 3 </li>
                                <li> 4 </li>
                                <li> 5 </li>
                                <li> 6 </li>
                                <li> 7+ </li>
                            </ul>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Post Ride</button>
                </form>    
            </div>
        </div>
    </body>
</html>
